<h1><%= @event.name %></h1>
<h2>Host: <%= @host.first_name%></h2>
<h2>Date: <%= @event.date%></h2>
<h2>Location: <%= @event.location %>, <%= @event.state %></h2>
Users who have joined this event:

<table>
	<tr>
		<td>Name</td>
		<td>Location</td>
		<td>State</td>
	</tr>
<% @users_joined.each do |u| %>
	<tr>
		<td><%= u.first_name %> <%= u.last_name %></td>
		<td><%= u.u_location %></td>
		<td><%= u.u_state %></td>
	</tr>
<% end %>
</table>


Discussion about this event:
<% @comments.each do |c| %>
	<p><%= c.content %> -<%= User.find_by(id: c.user_id).first_name %></p>
<% end %>
Add a comment:
<form action = '/comments' method = 'post'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type = 'text' name = 'comment[content]'>
	<input type = 'hidden' value = '<%= current_user.id %>' name = 'comment[user_id]'>
	<input type = 'hidden' value = '<%= @event.id %>' name = 'comment[event_id]'>
	<input type = 'submit' value = 'Add Comment!'>
</form>